<!--This is our java script section-->
<body style="text-align: left;">
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/css/bootstrap.min.js"></script>
<script src="/scripts/app.js"></script>

</body>
</html>

